@font-face {
  font-family: 'VAGRoundedStd-Thin';
  src: url('../assets/fonts/VAGRoundedStd-Thin.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'VAGRoundedStd-Light';
  src: url('../assets/fonts/VAGRoundedStd-Light.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('../assets/fonts/VAGRoundedStd-Bold.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova-Sbold';
  src: url('../assets/fonts/ProximaNova-Sbold.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova-RegIt';
  src: url('../assets/fonts/ProximaNova-RegIt.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('../assets/fonts/ProximaNova-Reg.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('../assets/fonts/ProximaNova-LightIt.otf'); /* Modern Browsers */
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../assets/fonts/ProximaNova-Light.otf'); /* Modern Browsers */
}