.sp {
	display: inline-block;
	width: 55px;
	height: 55px;
}


.sp-title {
	background: url("../assets/images/elements-icon.png") -6px -8px;
}

.sp-text {
	background: url("../assets/images/elements-icon.png") -61px -8px;
}

.sp-image {
	background: url("../assets/images/elements-icon.png") -115px -8px;
}

.sp-nav {
	background: url("../assets/images/elements-icon.png") 63px -8px;
}