<div class="container">
	<ul class="pages">
		<li ng-repeat="page in pageService.allPages"
			ng-animate="{leave: 'animate-leave'}"
			ng-click="selectPage(page._id)"
			ng-class="{selected: page._id === pageService.currPage._id}">{{page.name}}</li>
	</ul>
	<div class="image">
		<div class="placeholder">
			<i class="image-placeholder"></i>
			<span>ADD IMAGE <i class="aed aed-add"></i></span>
		</div>
	</div>
	<h1 class="title">Add Title Here</h1>
	<p>
		{{pageService.currPage.content}}
	</p>
</div>