<div class="container">
	<ul class="pages">
		<li ng-repeat="page in pageService.allPages"
			ng-animate="{leave: 'animate-leave'}"
			ng-click="selectPage(page._id)"
			ng-class="{selected: page._id === pageService.currPage._id}">{{page.name}}</li>
	</ul>
	<div class="image">
		<div class="placeholder">
			<i class="image-placeholder"></i>
			<span>ADD IMAGE <i class="aed aed-add"></i></span>
		</div>
	</div>
	<h1 class="title">Add Title Here</h1>
	<p>
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.
	</p>
</div>